<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Tech connect is a app to connect tech with members looking for somone ">
  <meta name="author" content="Andrew Curtis">
 

  <link type="text/css" href="../assets/css/style.css" rel="stylesheet">
</head>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">TECH CONNECT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/Login">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/Login">My Page</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
		 <a class="dropdown-item" href="#">Repair manulals</a>
		 <a class="dropdown-item" href="#">Parts search</a>
          <a class="dropdown-item" href="#">Become a Technition</a>
          <a class="dropdown-item" href="#">Start your own repair Bussiness</a>
          
        </div>
      </li>
	  
	   
    </ul>
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  <a class="nav-link" href="/users/Login" ><span class="fas fa-sign-out-alt"></span>Login</a>
	  <a class="nav-link" href="/users/register" ><span class="fas fa-sign-out-alt"></span> Register</a>
    </form>
  </div>
</nav>




	

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Tech Connect</h1>
	  
      <p>Are you a technition? Or are you just realy good at fixing things? are you looking to make a little side money or start your own bussiness, or maby just looking for a place to sell the calls you cant handle to another tech and make a monthley bonus</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
	   <h2>Tech Connect can be a full time gig for you or just make a good side income</h2>
        <p>We Have the ability to run your entire business right here on your personal dashboard, where you can connect with our members looking for you.  They will read your personal reviews and book an appoinment directly with you. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       
      </div>
      <div class="col-md-4">
        <h2> We can help you with any calls you may not be able to service, and you would still collect a portion of the sale. </h2>
        <p>Do you run into the issue of being too busy and cant handle the calls or do people call looking for a technition for a service you dont offer would you like you turn thoes leads into money? </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Become a technition and make over 50,000 a year take home</h2>
        <p>Tech connect can get you ready as a small bussiness and ready to run your own calls.  </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2019</p>
</footer>

<html>


